<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Редактирование товара</title>-->
<!--</head>-->
<!--<body>-->
<!--<h3>Редактирование заказа</h3>-->

<!--    <div th:each="order : ${orders}">-->

<!--            <p th:text="'Номер заказа: ' + ${order.getId()}"></p>-->
<!--            <p th:text="'Id заказа: ' + ${order.getNumber()}"></p>-->
<!--            <p th:text="'Статус заказа: ' + ${order.getStatus}"></p>-->
<!--            <p th:text="'Логин пользователя: ' + ${order.getPerson().getLogin()}"></p>-->

<!--    </div>-->


<!--</body>-->
<!--</html>-->